# 2 - Numbers, Strings, and Variables

## Basic Objects

Everything in python is what we call an object: You can think of it as a generic "box" - one that can hold anything from the word "Book" to a list of books, to something that can tell you what the 37th page of the book "Tale of Two Cities" is. But let's start by understanding the most basic objects: numbers and strings and variables are your friends.

Take for instance, lets, for kicks, type the number seven into the interpreter and see what we get:

In [1]:
7

7

So right now, python is telling us that 7, is 7! Glad to hear that 7 is 7 or we would be in some trouble. And 7 is as you guessed it, an object! When you press run, the python interpreter creates a type of object called an integer (or int).  We can double-check this by putting our 7 inside the type function.

In [1]:
type(7)

int

So we've created an object of type int which holds the data, 7.  We can use integers to represent both positive and negative whole numbers. And as with numbers, you can do operations on them. Let's treat python as a glorified calculator:

In [2]:
7 + 7

14

In [3]:
7 - 6

1

In [4]:
7 * (8 - 4)

28

In [19]:
14 / 5

2.8

We get pretty much what we expect.  Notice that when we divide 14 by 5, we don't get a whole number anymore.  To store the result, python creates an object that we call a *float*, which can represent any real number.  We can check this with the type function.

In the above examples, we've covered numbers but python also has a sense for words. In python, words are called "strings".

In [20]:
type(14/5)

float

So we can do operations on one type (int) and get another type out (float). This does not mean that we have changed the type, as Python is a *strongly typed* language. What this means is that when we do the operation 14 / 5, we create a new object which is a float. Neither 14 nor 5 was changed during this process

What type of object do you think this statement will create?

In [22]:
14/2

7.0

The decimal point in the result is a clue.  We can check using the type function.

In [24]:
type(14/2)

float

It's interesting that division always creates a float, even when the answer is a whole number.  What if you really want an integer?  Python also has an integer divide operation, which is written as two slashes.  Notice what happens with this statement.

In [26]:
14//5

2

We get just the integer part of the result.  You may remember this as the quotient, as in 14 divided by 5 has a quotient of 2 and a remainder of 4.  To get the remainder, we can use the modulus (or mod) operator, which is written, %.

In [27]:
14 % 5

4

Because floats can't store numbers to an infinite number of decimal places, we often get small rounding errors when we operate on them.

In [33]:
.3 + .3 + .3

0.8999999999999999

The problem is that .3 can't be stored exactly as a float.  The interpreter has to store it in base 2, and this number doesn't terminate in base 2.  As a result, the answer we get is close to what we expect, but not exact.  This could cause problems in your programs if you're expecting an exact result.

Finally, another very common type of object is a string (or str).  Here's how we would create one.

In [6]:
"Book"

'Book'

Notice the quotes around the result that tell us that we're dealing with a string.  Strings contain a sequence of text characters. What do you think would happen if we put a plus sign between two strings?

In [28]:
"Text" + "book"

'Textbook'

What if we try to add a string to an int?

In [37]:
"Text" + 7

TypeError: Can't convert 'int' object to str implicitly

We get an error message!  You can see that we get a lot of information about what happened, which we can use to try to fix our code.  In this case, we can see that we have a TypeError.  This is because python is a strongly-typed language, and it restricts what operations you can perform on each type.  Here, the interpreter thinks that adding a string to an int doesn't make sense, so you're probably doing something wrong.

If you read the details of the error, you can get even more clues about what's going wrong.  Here, you can see that the interpreter thinks we might want to convert the int, 7, to a string, so we can combine it with "Text", but it's telling us that this isn't allowed.

## Variables

Variables are simply names we give to objects, and you can change what object they refer to on the fly, which can be really really useful.

In [13]:
a = 7
b = 5
a * b

35

What just happpend above? We set a and b to different numbers and then calculated their product. I can change the value of a and b and the result changes automatically.

In [14]:
a = 6
b = 3
a * b

18

Now for these simple examples we could just write the formula out. But how about figuring out how much money you would have in 5 years if you put $100 in the bank at 5% interest

In [15]:
money_you_put_in = 100
interest_rate = .08
years_you_leave_money_in = 5
money_you_put_in * (1 + interest_rate/12) ** (12*years_you_leave_money_in)

148.9845708301605

You wouldn't want to type that formula in every time right? You can just change the variables and recalculate the result and get the answer that you are looking for. That's the nice thing about variables.

## Quick note on booleans, and type conversions

Now for the simplest objects of all - booleans (or bool). They can be just True or False, 0 or 1, good and evil. Well, not necessarily good and evil, but you get the point. There's a few ways to represent Booleans:

In [16]:
True

True

In [17]:
a = True
bool(a)

True

In [18]:
a = True
str(a)

'True'

In [19]:
a = True
int(a)

1

In [20]:
a = True
float(a)

1.0

In [21]:
a = 0
bool(a)

False

Now what did I just do? I just introduced some type conversions: bool() str() int() and float() will intelligently try to convert the object inside it to it's own type. And as you can see it makes some interesting choices:

True is 1.
True is the string "True".
True is 1.0.
0 is False.

So you can go on and transform one type to another and see what happens. Some interesting results come out:

In [22]:
int(4.323)

4

In [23]:
float(8484755)

8484755.0

In [24]:
bool(2323)

True

In [25]:
bool("asdfafd")

True

In [26]:
bool("0")

True

In [27]:
bool("False")

True

In [28]:
bool("")

False

int() will cut off any float's fractional part, while float will add a ".0" to any int. bool() will make any string you think of True, even objects like "0" and "false", except for the empty string. That's False.

## Fun with Strings

Going on with strings, we have some special operators that work just on strings:

You can multiply a string

In [29]:
"Beast " * 3

'Beast Beast Beast '

Add a string to another (called "concatenation")

In [30]:
a = "to be or not to be " 
b = "that is a question"
a + b

'to be or not to be that is a question'

In [31]:
letters_of_alphabet = "abcdefghijklmnopqrstuvwxyz"
letters_of_alphabet[0]

'a'

You can get a particular character from a string (just remember that the first character is at 0, not 1. This is key, 0, not 1)

In [32]:
letters_of_alphabet[1]

'b'

In [33]:
letters_of_alphabet[25]

'z'

And you can get the first caracter at the end using negative numbers.

In [34]:
letters_of_alphabet[-1]

'z'

You can get make smaller strings from a bigger string.

In [35]:
letters_of_alphabet[3:7]

'defg'

In [36]:
letters_of_alphabet[1:-1]

'bcdefghijklmnopqrstuvwxy'

You can even do more fun things: split strings into what we call a list (you'll learn about those alter)

In [35]:
what_i_want_to_eat ="soda,chips,pizza,fries,burgers"
what_i_want_to_eat_list = what_i_want_to_eat.split(",")
what_i_want_to_eat_list

['soda', 'chips', 'pizza', 'fries', 'burgers']

Great: I have a list of what I want to eat! But what if I want that string back for whatever reason?

In [38]:
",".join(what_i_want_to_eat_list)

'soda,chips,pizza,fries,burgers'

How many things do I want to eat?

In [39]:
len(what_i_want_to_eat_list)

5

Do I want to eat pizza?

In [36]:
"pizza" in what_i_want_to_eat

True

Yes, this is true