# Numbers, Strings, and Variables

## Basic Objects

Every thing in python is what we call an object: a generic reference "holder" (or box) that can hold anything from the word "Book" to a list of books, to something that can tell you what the 37th page of the book "Tale of Two Cities" is. But we are not there yet: right now it's all about understanding the basics: numbers and strings and variables are your friend.

Take for instance, lets for kicks type the number seven in code and see what we get:

In [66]:
7

7

So right now, python is telling us that 7, is 7! Glad to hear that 7 is 7 or we would be in some trouble. And 7 is as you guessed it, an object! It is an integer (or int): if you try to remember from math that integers are negative and positive whole numbers. And with numbers, you can do operations on them. Let's treat python as a glorified calculator:

In [67]:
7 + 7

14

In [68]:
7 - 6

1

In [69]:
7 * (8 - 4)

28

In [70]:
8 / 5

1.6

In [71]:
"Book"

'Book'

I figure the first four is what you would expect. Note that the fourth one result is what we call a *float*: it is not a whole number anymore but has a decimal portion.

The fifth example ("BOOK") is called a *string* (or str). String contain a sequence of characters that you can manipulate as you see fit. Let's check out these types

In [72]:
type(7)

int

In [73]:
type(7 - 6)

int

In [74]:
type(7 * (8 - 4))

int

In [75]:
type(8 / 5)

float

In [76]:
type("Book")

str

Notice the types and how you could do operations using only one type (int) and get another type out (float). This does not mean that we have changed the type, as Python is a *strongly typed* language. What this means is that when we do the operation 8 / 5, we create a new object that is 1.6 which is a float. 8 nor 5 was changed during this process

## Variables

In [77]:
Variables are simply names of objects, and you can change what object they refer to on the fly, which can be really really useful.

SyntaxError: invalid syntax (<ipython-input-77-5f09ccedabe0>, line 1)

In [78]:
a = 7
b = 5
a * b

35

What just happpend above? We set a and b to different numbers and now we calculated the result. I can change the value of a and b and the result changes automatically.

In [79]:
a = 6
b = 3
a * b

18

Now for these simple examples we could just write the formula out. But how about figuring out how much money you would have in 5 years if you put $100 in the bank at 5% interest

In [80]:
money_you_put_in = 100
interest_rate = .08
years_you_leave_money_in = 5
money_you_put_in * (1 + interest_rate/12) ** (12*years_you_leave_money_in)

148.9845708301605

You wouldn't want to type that formula in everytime right? You can just change the variables and recalculate the result and get the answer that you are looking for. That's the nice thing about variables.

## Quick note on booleans, and type conversions

Now just so I don't forget about the simplest objects, booleans. They can be just True or False, 0 or 1, good and evil. Well, not necessarily good and evil, but you get the point. There's a few ways to represent Booleans:

In [81]:
True

True

In [82]:
a = True
bool(a)

True

In [83]:
a = True
str(a)

'True'

In [84]:
a = True
int(a)

1

In [85]:
a = True
float(a)

1.0

In [86]:
a = 0
bool(a)

False

Now what did I just do? I just introduced some type conversions: bool() str() int() and float() will intelligently try to convert the object inside it to it's own type. And as you can see it makes some interesting choices:

True is 1
True is the string "True"
True is 1.0
0 is False

So you can go on and transform one type to another and see what happens. Some interesting results come out:

In [87]:
int(4.323)

4

In [88]:
float(8484755)

8484755.0

In [89]:
bool(2323)

True

In [90]:
bool("asdfafd")

True

In [91]:
bool("0")

True

In [92]:
bool("False")

True

In [93]:
bool("")

False

int() will cut off any float's fractional part, while float will add a ".0" to any int. bool() will make any string you think of True, even objects like "0" and "false", except for the empty string. That's False.

## Fun with Strings

Going on with strings, we have some special operators that work just on strings:

You can multiply a string

In [94]:
"Beast " * 3

'Beast Beast Beast '

Add a string to another (called "concatenation")

In [95]:
a = "to be or not to be " 
b = "that is a question"
a + b

'to be or not to be that is a question'

In [96]:
letters_of_alphabet = "abcdefghijklmnopqrstuvwxyz"
letters_of_alphabet[0]

'a'

You can get a particular character from a string (just remember that the first character is at 0, not 1. This is key, 0, not 1)

In [97]:
letters_of_alphabet[1]

'b'

In [98]:
letters_of_alphabet[25]

'z'

And you can get the first caracter at the end using negative numbers.

In [99]:
letters_of_alphabet[-1]

'z'

You can get make smaller strings from the bigger string.

In [100]:
letters_of_alphabet[3:7]

'defg'

In [101]:
letters_of_alphabet[1:-1]

'bcdefghijklmnopqrstuvwxy'

You can even do more fun things: split strings into what we call a list (you'll learn about those alter)

In [102]:
what_i_want_to_eat ="soda,chips,pizza,fries,burgers"
what_i_want_to_eat_list = what_i_want_to_eat.split(",")
what_i_want_to_eat_list

['soda', 'chips', 'pizza', 'fries', 'burgers']

Great: I have a list of what I want to eat! But what if I want that string back for whatever reason?

In [103]:
",".join(what_i_want_to_eat_list)

'soda,chips,pizza,fries,burgers'

How many things do I want to eat?

In [104]:
len(what_i_want_to_eat_list)

5

Do I want to eat pizza?

In [105]:
what_i_want_to_eat.find("pizza") > 1

True

Yes, this is true